<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
		<add key="EmailFromName" value="Name"/>
	    <add key="EmailFromAddress" value="name@emailaddress.com"/>
		<add key="EmailToName" value="Name"/>
	    <add key="EmailToAddress" value="ToName@emailaddress.com"/>
		<add key="RSSFeedAddress" value="FeedURL"/>
  </appSettings>
</configuration>