<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="EmailFromName" value="Name"/>
		<add key="EmailFromAddress" value="name@emailaddress.com"/>
		<add key="EmailRecipients" value="Alice:alice@example.com;Bob:bob@example.com;Charlie:charlie@example.com"/>
		<add key="RSSFeedAddress" value="FeedURL"/>
	</appSettings>
</configuration>